
  *{
  box-sizing:border-box;
 cursor:url(https://i.imgur.com/fxqyPPr.png),auto;
}
a{
color:#ffb0bb;
text-decoration:none;
transition: all ease-in-out .3s;
position:relative;
}
a:hover{
 
  cursor:url(https://i.imgur.com/0Me0mof.png),progress!important;
}
a:after{
content:' ';
bottom:-.3em;
left:0;
right:0;
position:absolute;
width:0px;
border:1px solid transparent;
margin:auto;
transition: all ease-in-out .3s;
}
a:hover::after{
width:100%;
border:1px solid #ffb0bb;
}
body{
  margin:0;
  padding:0;
  font:1em/1.8 'Roboto';
  background-color:#ffeaea;
  color:#333;
 
}
.content{
width:80%;
 position:fixed;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
max-width:457px;
height:277px;
}
.right{
text-align:right;
 
 
}
.end{
display:flex;
justify-content:flex-end;
align-items:center;
}
 .sparkle img{
width:18px;
height:18px;
object-fit:cover;
margin-top:4px;
margin-right:.4em;
}
.box{
width:calc(100% - 80px);
background:white;
border:1px solid #ece6e6;
border-radius:4px;
padding:2em;
position:relative;
 
}
.image img{
width:60px;
height:60px;
object-fit:cover;
border-radius:100%;
float:right;
}
.box::before{
 content:' ';
 display:block;
 width:12px;
 height:12px;
 position:absolute;
 background:white;
 left:calc(100% - 5px);
 border-right:1px solid #ece6e6;
  border-top:1px solid #ece6e6;
 transform: rotate(45deg);
 top:10%;

}
